form {
  display: flex;
  flex-direction: column;
}
.btn {
  max-width: 70px !important;
  margin-top: 20px;
}
input,
textarea {
  max-width: 200px !important;
  resize: none;
}
.mail_card {
  padding: 30px;
  border: 2px solid black;
  width: 220px;
  max-width: 100%;
}
