form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  max-width: 300px !important;
  resize: none;
  height: 40px !important;
  border: 2px solid black !important;
  outline: none !important;
  cursor: pointer;
}
.Mail_card {
  max-width: 300px !important;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  background: #000;
  border: 2px solid white;
  color: white;
}
.btn {
  border: 2px solid black;
  background: #000;
  color: white;
}
.alert_mail {
  color: red !important;
}
.mt-0 {
  margin-top: 0;
}
.mail_card {
  padding: 15px;
  width: 250px;
  border: 2px solid black;
}

.mb-6 {
  margin-bottom: 20px;
}

.cntr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
