form {
  display: flex;
  flex-direction: column;
}
.btn {
  max-width: 70px !important;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;

  margin-top: 20px;
}
input,
textarea {
  max-width: 200px !important;
  resize: none;
  height: 40px !important;
}
.Mail_card {
  max-width: 300px !important;
  margin-left: auto;
  margin-right: auto;
}
.mail_card {
  padding: 30px;
  border: 2px solid black;
  width: 220px;
  max-width: 100%;
}
.mb-6 {
  margin-bottom: 24px;
}
